html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
  }
.tudo{
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-color: black;
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
}

header {
    margin: 0;
    height: 83px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    display: flex;
    margin-right: 20px;
}

.imagemlogo {
    margin-top: 0;
    width: 15vh;
    margin-left: 0px;
    align-items: left;
    display: flex;
    height: 11vh;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3em;
    color: black;
    text-transform: uppercase;
    margin-left: 5px;
}

.active {
    font-size: 1.4em; 
    background-color: black;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

nav a:hover {
    background-color: black;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.fotoarthurp {
    width: 400px;
    margin-left: 5px;
    margin-top: 5px;
    border: solid 2px black;
    border-radius: 8px;
    height: 230px;
    margin-top: 25px;
}

.headline {
    display: flex;
    flex-direction: column;
}

.historiaart {
    color: white;
    margin-left: 10px;
    height: 26px;
}

div p {
    font-size: 1.1em; 
    margin-left: 10px;
    margin-top: 2px;
    font-family: helvetica;
    text-shadow: 3px 1px 4px rgb(44, 40, 40);
}

article {
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin-left: 50vh;
}

.headline h1 {
    margin-left: 40px;
}

#historia {
    text-align: center;
    color: white;
    margin: 40vh;
    margin-top: 0;
}

#historia p,
#gangue p,
#conflitos p,
#redencao p {
    background-color: rgba(20, 0, 0, 0.5);
    border: solid 2px #240000;
    border-radius: 10px;
    padding: 12px;
}

#historia h1 {
    background-color: rgba(20, 0, 0, 0.5);
    width: 200px;
    margin-left: 50vh;
    border: solid 2px #240000;
    border-radius: 10px;
}

#redencao h1 {
    color: white;
    font-size: 1.6em; 
}

#gangue {
    margin-top: 0;
}

.fotogang,
.conflitospic {
    width: 490px;
    height: 400px;
    border: solid 2px white;
    border-radius: 10px;
}

#gangue h1 {
    background-color: rgba(20, 0, 0, 0.5);
    width: 270px;
    margin-left: 12vh;
    border: solid 2px #240000;
    border-radius: 10px;
}

#conflitos h1 {
    background-color: rgba(20, 0, 0, 0.5);
    width: 290px;
    border: solid 2px #240000;
    border-radius: 10px;
    padding: 2px;
    margin-left: 12vh;
}

#redencao h1 {
    background-color: rgba(20, 0, 0, 0.5);
    border: solid 2px #240000;
    border-radius: 10px;
    padding: 2px;
    width: 290px;
    margin-left: 65vh;
}

.redenct,
.fimdimorg {
    text-decoration: none;
    text-shadow: none;
    color: white;
}

#redencao {
    width: 400px;
    margin-left: 30px;
    margin-top: 0;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 40vh;
}

aside {
    justify-content: right;
    margin-right: 20px;
    width: 400px;
}

#gangue {
    width: 490px;
    margin-left: 40px;
    margin-right: 0;
}

#gangue p,
#conflitos p,
#redencao p {
    text-shadow: none;
    color: white;
}

#conflitos {
    margin-right: 50vh;
    width: 490px;
    margin-left: 0px;
    flex: 1;
}

#redencao {
    justify-content: center;

    margin-left: 20vh;
    width: 1500px;
}

.theendpic {
    width: 1000px;
    height: 400px;
    border: solid 1px #d4aa5b;
    border-radius: 10px;
    margin-left: 15%;
}

footer {
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #fff;
}

.rodape {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 10px;
}

h1 {
    color: white;
    font-size: 2em; 
}

h3 {
    color: white;
    font-size: 1.2em; 
    background-color: #240000;
    margin-left: 20px;
    width: 240px;
    padding: 10px;
}
.menumobile{
    display: none;
    width: 40px;
    height: 40px;
}
@media screen and (max-width:1450px) {
    .tudo{
        background-image: url("images/banner4k.webp");
        background-repeat: no-repeat;
        background-color: #100605;
        font-size: 16px;
    width: 1440px;
    margin-top: 0;
    background-size: contain;
    }

nav a{
        color: white;
    }
    nav a:hover {
        background-color: black;
        color: white;
        border: solid 2px black;
        border-radius: 10px;
    }
.fotoarthurp{
    width: 520px;
    height: auto;
    margin-top: 10vh;
}
    .headline p{
    font-size: 23px;
    margin-left: 15px;
    width: 500px;
}
#historia p {
    width: 900px;
}
.conteudo{
    margin: 40px;
    justify-content: center;
}
#gangue{
    margin-left:10vh;
    margin-right:25vh;
}
.redencaop{
    width:1200px;
}
h3{
    margin-left:
    25vh;
    border-radius: 10px;
}
.theendpic{
    margin-left: 5vh;
}



}

@media screen and (max-width:1027px){

 /*Parte Inicial*/   
 .fotoarthurp{
    width: 800px;
    height: auto;
    display: block;
    margin:50px;
    margin-top: 100px;
     margin-left: 15vh;
}
.tudo{
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-color: black;
    font-size: 16px;
width: 1200px;
}
article{
    margin-left: 10vh;
}

  #content{
     margin: 0;
     flex-direction: column;
     height: auto;
  }
.headline h1{
    font-size: 32px;
    color: black;
    text-shadow: 2px 2px 10px #fff;
    margin-left: 15px;
    background-color: rgba(168, 25, 25, 0.5);
    padding: 10px;
    border: rgba(252, 227, 227);
    border-radius: 10px;
    width: 365px;
    margin-left:40vh;
}
.headline p{
    font-size:20px;
    width: 800px;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid 2px #240000;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    margin-left: 15vh;
    margin-top: 10px;
height: auto;

}
#historia{
 margin-top: 10px;
 width: 800px;
 margin-left: 15vh;
 margin-bottom: 0;
}
#historia h1{
 margin-left: 35vh;
}
.conteudo{
 flex-direction: column;
 margin: 0;
}
#gangue h1{
 margin-left: 20vh;
 width: 380px;
}
#gangue p {
 width: 800px;
 margin: 0;
}
.fotogang{
width: 800px;    
margin-top: 20px;
margin-left: 1vh;
}
#conflitos p{
 width:780px ;
 margin-left: 14vh;
}
.conflitospic{
 width: 800px;
 margin-left: 14vh;
 margin-top: 20px;
}
#conflitos h1{
    margin-left: 40vh;
}
#redencao{
 margin-left: 5px;
}
#redencao p{
 width: 880px;
 margin-left: 7vh;
}
#redencao h1{
 margin-left:25vh;
}
.theendpic{
 margin-left: 17vh;
 width: 750px;
}
h3{
    margin-left: 15vh;
}

}






@media(max-width:430px) {
 /*Parte menu e visual*/
 .menumobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:90px;
    
}

.imagemlogo{
    margin-right:40px;
    margin-left: 0;
    }
header .container{
    flex-direction: row;
}
nav ul{
    flex-direction: column;
    display: none;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 15px;
}
header{
    height: auto;
width: 300px;
justify-content: left;
}
.menumm{
    height: 5px;
    background-color: black;
}

.tudo{
    overflow-x: hidden;
    background-image: url("images/bannermobile.jpg");
    background-repeat: no-repeat;
 }
 .imagemlogo{
    margin-left: 90px;
}
 section{
    margin-left: 17px;
 }
/*Parte Inicial*/   
 .fotoarthurp{
    width: 380px;
    height: auto;
    display: block;
    margin-left: 10px;
    margin-right:10px
}
    #content{
        margin-top: 50px;
margin-left: 0;
        flex-direction: column;
    }
#content h1{
    font-size: 29px;
    color: black;
    margin-left: 15px;
    background-color: rgba(168, 25, 25, 0.5);
    padding: 10px;
    border: rgba(252, 227, 227);
    border-radius: 10px;
    width: 340px;
    
}
#content p{
    font-size:14px;
    width: 380px;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid 2px #240000;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    margin-left: 5px;
height: auto;

}
article{
    margin: 10px;
}
/*Parte Historia*/
#historia{
    margin-left:0;
    margin-bottom:0;
}
#historia p{
    margin: 0;
    font-size: 14px;
    margin-left: 2px;
    height: auto;
    width: 370px;
}
#historia h1{
    margin: 0;
    margin-top: 8vh;
    margin-left: 15vh;
    margin-bottom: 10px;
}
/*Parte Gangue*/

#gangue{
    margin-left: 0px;
    width:400px;
    font-size: 13px;
    display: block;
    margin-top: 10px;
}
#gangue p{
    width: 380px;
    margin-left:2px;
}
.fotogang{
    width: 100%;
height: auto;
margin-left: 2px;

}
#gangue h1{
    margin-left: 60px;
    width: 300px;
}
/*Parte Conflitos*/
#conflitos{
    width: 250px;
    margin: 0px;
    
}
#conflitos p{
    width: 350px;
    margin-left: 5vh;
}
.conflitospic{
    width: 380px;
    margin-left: 2px;
    height: auto;
}
#conflitos h1{
    width: 300px;
    margin-left: 6vh;
    font-size: 30px;
}
/*Parte redençao*/
#redencao{
    margin: 10px;
}
#redencao h1{
    margin-left: 100px;
    width: 200px;
    padding: 10px;
}
.redencaop{
    width: 340px;
    font-size: 14px;
    margin-left: 1px;
    text-align: justify;
}
#redencao p{
    margin-left: 10px;
    width: 360px;
}
.theendpic{
    width: 380px;
    height: auto;
    margin-left: 10px;
}


.headline h1 {
    margin-right: 10px;
}
.rodape{
    margin-left: 2vh;
}



aside{
    flex-direction: column;
}

.conteudo{
    margin: 0;
    flex-direction: column;
}



footer h2{
    text-align: left;
    margin-left: 20px;
}
div h3{
    font-size: 12px;
    border-radius: 10px;
}
}
@media screen and (max-width:470px){
/*Cabeçalho*/
   





































}
@media (max-width:395px){
    body{

        overflow-x: hidden;
        background-image: url("images/bannermobile.jpg");
        background-repeat: no-repeat;
    }
    .fotoarthurp{
        width: 340px;
        margin-top: 10px;
        margin:20px;
    }
#content h1{
    font-size: 29px;
    color: black;
    margin-left: 15px;
    background-color: rgba(168, 25, 25, 0.5);
    padding: 10px;
    border: rgba(252, 227, 227);
    border-radius: 10px;
    width: 340px;
}
.imagemlogo{
    margin-left: 90px;
}
.menumobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0;
    margin-left:190px;
    
}
header .container{
    flex-direction: row;
}
nav ul{
    flex-direction: column;
    display: none;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 15px;
}
header{
    height: auto;
width: 300px;
}
.menumm{
    height: 5px;
    background-color: black;
}
.headline h1 {
    margin-right: 10px;
}
#content p{
    font-size:14px;
    width: 350px;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid 2px #240000;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    margin-left: 10px;

}
.fotoarthurp{
    max-width: auto;
    height: auto;
    display: block;
    margin-left: 30px;
    margin-right:10px
}
#historia p{
    margin: 0;
    font-size: 14px;
    width: 330px;
    margin-left: 5px;
    height: auto;
}
#historia h1{
    margin: 0;
    margin-top: 10vh;
    margin-left: 80px;
    margin-bottom: 10px;
}
#gangue{
    margin-left: 0px;
    width:350px;
    font-size: 13px;
    display: block;
}
aside{
    flex-direction: column;
}
#conflitos{
    width: 250px;
    margin: 0px;
}
.conteudo{
    margin: 0;
    flex-direction: column;
}
#gangue p{
    width: 330px;
}
.fotogang{
    width: 100%;
height: auto;
margin-left: 10px;
}
#gangue h1{
    margin-left: 60px;
    width: 300px;
}
#conflitos p{
    width: 330px;
}
.conflitospic{
    width: 340px;
    margin-left: 20px;
    height: auto;
}
#conflitos h1{
    width: 300px;
    margin-left: 6vh;
    font-size: 30px;
}
#redencao{
    margin: 10px;
}
#redencao h1{
    margin-left: 100px;
    width: 200px;
    padding: 10px;
}
.redencaop{
    width: 330px;
    font-size: 14px;
    margin-left: 1px;
    text-align: justify;
}
.theendpic{
    width: 340px;
    height: auto;
    margin-left: 10px;
}
footer h2{
    text-align: left;
    margin-left: 20px;
}
div h3{
    font-size: 12px;
    border-radius: 10px;
}
}
@media (max-width:318px){
    .tudo{
        overflow-x: hidden;
        background-image: url("images/bannermobile.jpg");
        background-repeat: no-repeat;
    }
}